[2014-08-27 22:58] zsawyer opened #1 "LICENSE.txt missing in jar"

[2014-08-27 23:00] zsawyer opened #2 "LiteLoader support"
produce a hybrid jar which supports both Forge and LL at the same time

[2014-08-27 23:01] zsawyer opened #3 "MagicLauncher support"

[2014-08-27 23:11] zsawyer opened #4 ""world dependent linking" switch"
integrate switching between "world dependent linking" into GUI as a setting (either use GUIAPI or ModOptionsAPI), neither should end up as a requirement for the user though

setting this option basically narrows the mumble context to the world instead of `MUMBLE_CONTEXT_DOMAIN_ALL_TALK`

LiteLoader (#2) also directly facilitates mod settings like that

[2014-11-01 07:55] zsawyer opened #5 "initializer thread tries continuously without a wait"
[report](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1272675-1-7-10-mumblelink-forge-smp-lan-mumble-realism?comment=339) by mrpisto:
"Your plugin hogs a core at least on linux if mumble is not running, because the initializer thread tries continuously to open /dev/shm/MumbleLink. Trying to do that once per second is more than enough imo."

https://github.com/zsawyer/Mum

[2014-12-14 04:35] #5 closed, assigned to zsawyer

[2014-12-14 05:04] #1 closed, assigned to zsawyer

[2014-12-14 05:05] zsawyer opened #6 "properly react to forge's disable button"
currently I have no idea which event is called (maybe it still is not properly implemented, needs research)

[2015-01-19 23:43] zsawyer opened #7 "linux-x86/libLinkAPI.so is the 64-bit version"
Its probably that simple:
Replace the file in the natives.jar with the one from natives/linux-x86/libmod_MumbleLink.so (rename to libLinkAPI.so first).

[2015-01-24 15:08] zsawyer commented on #7
fixed in trunk, will be included in follow up releases

[2015-01-24 15:08] #7 closed

[2016-01-01 01:08] asiekierka opened #8 "Outdated C++ files?"
The C++ files seem to be written for the old mod_MumbleLink, which utilized JNI and not JNA. Could you please look into it urgently? I'm trying to fix shm_open issues on Linux and I can't get the build to fully reproduce.

[2016-01-01 08:58] asiekierka opened #9 "Linux MumbleLink native does not set O_CREAT, causing shm_open to fail"
Only O_RDWR is set, but MumbleLink.[uid] does not exist, causing shm_open to fail terribly since it's not told to create the shm if not present.

[2016-01-01 09:19] asiekierka commented on #9
In connection with https://github.com/zsawyer/MumbleLink/issues/8 and the fact your 32-bit binary seems to be the outdated one after all, I managed to patch it by hand in the 64-bit binary: replace "BE 02 00 00 00" with "BE 02 01 00 00"

[2016-01-21 19:57] zsawyer commented on #8
Hello asiekierka,
sorry for the late reply, it appears my notification settings for GitHub are messed up.

You are right, I have missed that one. Last update I was reworking the natives and created the [mumble-LinkAPI](https://github.com/zsawyer/mumble-LinkAPI) which is going to be the foundation for the next update. However I had not merge the sources yet, only the binaries.

[This mumble-LinkAPI

[2016-01-21 20:14] zsawyer commented on #9
The current code is mainly only copied and refactored from the [Mumble Wiki](https://wiki.mumble.info/wiki/Link). This I will have to make sure is fixed with adding `| O_CREAT` in the new mumble-LinkAPI.

Next version will use [jna/LinkAPILibrary.java](https://github.com/zsawyer/mumble-LinkAPI/blob/331fae1a0798d21779900a7ce83f7bd80b671e7b/tests/java/src/zsawyer/mumble/jna/LinkAPILibrary.java) and

[2016-01-21 20:33] zsawyer opened #10 "MC 1.8.9 incompatibility"
[Robijnvogel](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1272675-1-8-mumblelink-forge-smp-lan-mumble-realism?comment=444)

[2016-01-21 22:44] asiekierka commented on #9
This is also what was causing a lot of strange issues with MumbleLink not working on Linux. The 64-bit Linux fix could presumably be applied soon.

[2016-01-22 23:37] zsawyer commented on #10
This incompatibility is with **FML** itself (not MC nor Java).
The problem seems to be that EPAS is activated before MumbleLink now for some reason.
Also they have now implemented mod activation features which uses my `Activateable.activate`-function inadvertently (this is extremely closely related to #6).

I will have to look into the dependency management. Trials with simply manipulating the mod

[2016-01-22 23:53] zsawyer commented on #9
This sounds like always starting Mumble before Minecraft could be a workaround for now.

Due to the complicated nature of gradle, forgegrade, fml and mumble-LinkAPI all having changed over the time the next update is going to be quite a load of work for me.

[2016-01-23 06:56] asiekierka commented on #9
It is not a workaround. O_CREAT is necessary to create a new shared memory
object, so it will fail every time as you're always the side creating it.

2016-01-23 0:53 GMT+01:00 zsawyer notifications@github.com:

[2016-01-28 22:10] zsawyer commented on #9
That is not true otherwise it would have never worked for me but it was tested on ubuntu in early stages.
https://github.com/mumble-voip/mumble/blob/master/plugins/link/link-posix.cpp#L177

[2016-05-07 18:21] asiekierka commented on #9
From what I know, glibc changed this sometime during its lifetime, as I know it worked for some Linux users but not others. However, O_CREAT is necessary as per the standards/documentation anyway.

Also, any news on this?

[2016-08-20 02:19] zsawyer opened #11 "JNA-4.0.0 dependency conflicts with JNA-3.4.0 shipped in MC 1.8.9"
I tracked down the UnsatisfiedLinkError to be an incompatibility with Minecraft itself now.

At some point Mojang started using JNA too. But they are using an old-ass version: 3.4.0. (see %appdata%.minecraft\libraries\net\java\dev\jna\jna\3.4.0 ).

Back at MumbleLink-4.0.3 I explicitly changed to JNA-4.0.0 to stabilize library loading.

Right now, when starting Minecraft Advapi32 will be loaded us

[2016-08-30 02:33] Hastling opened #12 "[1.10.2][Forge 2075]Crash On Server Load"
http://pastebin.com/XZAFGgER

[2016-08-30 02:38] #12 closed, assigned to nobody

[2016-09-02 22:49] zsawyer commented on #11
**Option 3** is implemented in branch [QnD-MC_JNA](https://github.com/zsawyer/MumbleLink/tree/QnD-MC_JNA)
**Option 5** is implemented in [QnD](https://github.com/zsawyer/MumbleLink/tree/QnD) but it appears to be bugged with `wchar_t` on Ubuntu 64 bit since it always interprets it's size as 2 bytes, even when it is 4 bytes. This seems not to be a problem with JNA.

**A sixth option** was to go with

[2016-09-02 22:49] #11 closed, assigned to nobody

[2016-09-02 22:50] #10 closed, assigned to zsawyer

[2016-09-02 23:14] zsawyer commented on #12
In case someone else has the same issue, here is an explanation...

When this mod is installed on a Minecraft server this error message will be thrown:

`Caused by: java.lang.RuntimeException: Attempted to load class zsawyer/mods/mumblelink/MumbleLinkImpl for invalid side SERVER`

It is because this mod is client-side only. I chose to let the game crash because there is no reason to install it on

[2016-12-21 18:17] zsawyer opened #13 "Incompatibility with Forge 1.11+ (modid must be lowercase)"
User reports ([forum post](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1272675-1-10-2-mumblelink-forge-smp-lan-mumble-realism?comment=508)):

[2016-12-30 03:58] #13 closed, assigned to zsawyer

[2017-04-10 10:43] Snorps opened #14 "MumbleLink doesn't update player position"
MumbleLink just sends Crosstalk the spawn co-ordinates of the current server, rather than the players co-ordinates. Tested on 3 separate computers, MumbleLink version 4.2.4, Crosstalk 1.7.0 and 1.6.3.111601, Forge 13.19.1.2189.

[2017-06-06 21:31] nicktrick92 commented on #14
Confirmed that it does not properly send position to TeamSpeak through CrossTalk... I just get the following all the time:

Playing Minecraft as {"name":"nick_the_mc_boss","worldSpawn":[52,53,206],"dimension":0}.

It does work for me on mumble, but it does not seem to work on TeamSpeak... Could it be a CrossTalk issue?

[2017-06-06 22:10] Robijnvogel commented on #14
Without a MumbleLink version AND a CrossTalk version, this will be rather hard to troubleshoot.

[2017-06-08 15:58] nicktrick92 commented on #14
Sorry, I meant to come back and add them but I forgot... For me, I;ve tried with mumbleLink 1.9.4, 1.10, 1.10.2, and 1.11 (At separate times, to ensure it wasn't the version that was the issue) and Crosstalk version, I'm not sure about the exact version number, but it's the most recent one (Updated on 2017-02-20)... I'm thinking maybe the CrossTalk version is too new, but i couldn't find any other

[2017-06-12 13:15] Robijnvogel commented on #14
Since the issue does not occur with Mumble, I assume that this is a Crosstalk bug.

[2017-07-10 19:58] Robijnvogel opened #15 "Minecraft 1.12 port"
Just dropping this here as a ping and as a placeholder.
I may give this a shot myself, but I can not update the MC forum thread or CurseForge, so...

[2017-07-14 03:42] magneticflux- commented on #15
It should be extremely easy to do, since 1.11 and 1.12 are very similar. Updating the Forge version and mappings in the `build.gradle` file and then running `build` should do the trick unless they're doing something weird with Forge.

[2017-07-15 09:47] Robijnvogel commented on #15
@magneticflux if you could do so, I would be extremely grateful as I won't have access to my computer the next few days.
Still, we need Zsawyer to publish an official build. :)

[2017-07-15 19:09] magneticflux- commented on #15
@Robijnvogel I'm currently fixing some compilation errors. I'll detail them here so that @zsawyer can have some warning about what they'll need to fix for 1.12.
- Fields in the `Minecraft` class have changed from `theWorld` to `world`
- Fields in the `Minecraft` class have changed from `thePlayer` to `player`
- Fields in the `Vec3d` class have changed from `x/y/zCoord` to `x/y/z`

[2017-07-15 19:42] magneticflux- commented on #15
@Robijnvogel I have a jar file that launches Minecraft, but I don't have a Murmur server to test on yet. Do you want me to email it to you?

EDIT: Set up Mumble and Murmur; everything looks good so far.

[2017-07-18 23:40] zsawyer commented on #15
Thank you guys for looking into this. I will see to pushing this update as soon as I have some time for it. Good job!

[2017-07-18 23:46] zsawyer commented on #14
Sorry, even though I endorse the crosstalk plugin the main criteria is that it works in mumble.
Thank you for the detailed report, but I am closing this as I agree with @Robijnvogel that this needs to be solved in the crosstalk plugin itself.

[2017-07-18 23:46] #14 closed, assigned to nobody

[2017-07-27 19:05] magneticflux- opened #17 "Extra Temp folders being created"
Every time a DLL is loaded, a new temp file is created and never removed. I now have several dozen folders called `MumbleLink7060520309212793916native`. A similar problem occured on another project I worked on: andrew-hoffman/halfnes/issues/37

[2017-09-04 16:04] Robijnvogel commented on #15
@zsawyer I think you might have forgotten about us. :P

[2017-10-24 02:29] Hedrauta commented on #14
... Using Mumblelink 4.1.1 for MC 1.7.10: checking the logs on debug-mode.... plugin only sends one command:
[04:26:46] [Client thread/INFO] [MumbleLink]: identity: {"name":"Hedrauta","worldSpawn":[48,64,256],"dimension":0}
[04:26:46] [Client thread/INFO] [MumbleLink]: context: {"domain":"AllTalk"}
No position-update at all.... used Crosstalk 1.7.0 on Forge 10.13.4.1614 with ONLY active Mumblelink

[2017-10-24 03:38] Hedrauta commented on #14
https://github.com/zsawyer/MumbleLink/blob/8801ffc16950b7376f6710bb96091b11e26fa55e/mod/src/main/java/zsawyer/mods/mumblelink/addons/pa/es/ExtendedPASupport.java#L160
Why are you fetching the spawn? it should be the players location... or do i misunderstand that mod?
[EDIT]
tried to fetch the source code from 4.1.1 and rebuild on my own. failed hard...

[2017-10-26 07:12] Robijnvogel commented on #14
Indeed, fetching the spawn does not seem to have an obvious purpose.
Then again, the MumbleLink mod also fetches the player's actual location or at least its location relative to spawn. Otherwise the mod wouldn't work with Mumble either.

[2017-12-17 12:00] zsawyer commented on #14
Above that code line it tells you why...

https://github.com/zsawyer/MumbleLink/blob/8801ffc16950b7376f6710bb96091b11e26fa55e/mod/src/main/java/zsawyer/mods/mumblelink/addons/pa/es/ExtendedPASupport.java#L156

        '// build spawn location coordinates (sadly this is the only somewhat
        // identifiable information the client has about the world (and server)
        // it connects to.'

The

[2017-12-17 12:11] zsawyer commented on #15
Sorry for neglecting. I am having technical issues which take extra time to resolve ... which I didn't have. Life...

[2017-12-23 19:45] Robijnvogel commented on #15
@zsawyer I sent you a PM on the MC Forums.

[2017-12-23 20:46] Robijnvogel opened #19 "[Feature] Discord Gamebridge positional audio compatibility"
Discord is developing positional audio.
To get in on the action early, see [this](https://discordia.me/gamebridge).

This issue is a placeholder to not forget this until they get that far.

[2017-12-25 12:10] sanchosk commented on #15
Does this mean that when 1.12 will be supported, the 1.12.2 version will work, too?
Or is there additional development needed?

[2017-12-26 00:11] magneticflux- commented on #15
@sanchosk See my comment here: https://github.com/zsawyer/MumbleLink/pull/16#issuecomment-348844403

[2017-12-26 00:14] sanchosk commented on #15
@magneticflux- Thanks! Will try to build it tomorrow :)

[2018-01-09 04:31] Robijnvogel commented on #15
I updated the source and built it. Tomorrow, I am going to test it.

[2018-01-09 23:04] Robijnvogel commented on #15
It seems to work with Mumble, but I did not get it to work with CrossTalk.
Uploading built file to Curse now. :)

[2018-01-09 23:59] magneticflux- commented on #15
@Robijnvogel Are you sure everything is set up correctly on your end for CrossTalk? I read up a little and it seems to use the exact same method of getting data as Mumble does so that it can benefit from games already supporting Mumble.

[2018-01-10 04:34] Robijnvogel commented on #15
I'll close this issue now, since, as you, @magneticflux- , pointed out, since both Mumble and Crosstalk use the same Link API, it should be working just as well on Teamspeak as on Mumble.

And if there is actually an issue with Crosstalk, then we'll have to assume that that is caused by a problem in the interaction between Teamspeak and the Link API, which falls outside the scope of this mod.

[2018-01-10 04:34] #15 closed, assigned to nobody

[2018-09-02 14:37] Robijnvogel commented on #19
It seems like it will not be possible to use Discord Gamebridge for this in the foreseeable future:
https://www.reddit.com/r/discordapp/comments/7t0jyl/gamebridge_dead_or_when/

However it may be possible to use Rich Presence to directly set the volume and pan of other users in the same audio channel.
https://news.ycombinator.com/item?id=13981914
https://discordapp.com/developers/docs/topics/rpc#s

[2018-09-02 15:49] Robijnvogel commented on #19
Apparently this volume and panning isn't on a per-client-basis, but rather affects a user's volume and panning for everyone in the voice channel. :/
Source: Asie

[2018-12-30 13:32] zsawyer opened #20 "JNA-4.4.0 shipped in MC 1.12.2 (possibly earlier too) conflicts with JNA-3.4.0 dependency"
Minecraft now uses the JNA-4.4.0 implementation. This causes a possible incompatiblity with the native part of the MumbleLink mod or [LinkAPI](https://github.com/zsawyer/mumble-LinkAPI)

14:18:54	launcher	Downloaded https://libraries.minecraft.net/net/java/dev/jna/jna/4.4.0/jna-4.4.0.jar to C:/Users\<user>\AppData\Roaming\.minecraft\libraries\net/java/dev/jna/jna/4.4.0/jna-4.4.0.jar
14:18:55	launc

[2018-12-30 13:33] zsawyer commented on #20
Issue #11 was used to revert the dependency from JNA-4.0.0 to JNA-3.4.0 maybe this only needs to be reverted to fix the problem.

see https://github.com/zsawyer/MumbleLink/commit/68ff526a27e1364f5ebcc7af04bdfeb3d883aa30#diff-76608e554117eb2090694fe8106db15d

[2019-08-19 18:43] Jorgen1040 opened #21 "Muting non linked users"
Would it be possible to mute non linked users to stop them from listening and/or talking to all the players ingame?
It can get annoying when people dont follow the rules and join the game channel without linking to Minecraft first.

[2019-08-19 18:55] magneticflux- commented on #21
That's an issue to take up with Mumble; there's no support for voice segregation in the Link plugin.

Source: https://wiki.mumble.info/wiki/Link#Context

Also if you're interested in a 1.14 version there's mine here: https://github.com/magneticflux-/fabric-mumblelink-mod

[2019-09-10 00:48] zsawyer opened #22 "travis ci build stopped working"
since JDK8 has gone commercial at Oracle we need to figure out which license or version of JDK we need to use

[code]

[2019-09-10 00:52] magneticflux- commented on #22
I've found `openjdk8` works well if you still need Java 1.8. Anything works for Java 9+ though.

Edit: So does this mean the Forge mod devs are coming out of hibernation now that Forge has a working 1.14 release? If you haven't been keeping up, make sure you check out FabricMC.

[2019-09-10 02:09] zsawyer commented on #22
alright I applied it and it seems to work :)
please check #23

I don't know. I just tried to build HEAD and it failed.

[2019-09-10 02:27] zsawyer commented on #22
seems fixed https://travis-ci.org/zsawyer/MumbleLink/builds/582967343

[2019-09-10 02:27] #22 closed, assigned to nobody

[2020-03-24 19:15] zsawyer commented on #19
It won't happen:

From Sept 29. 2019; Discord GameSDK Help; #game-sdk

@DutchAndDangerous#2296

@Mason#1337

[2020-03-24 19:15] #19 closed, assigned to Robijnvogel

[2020-04-20 22:05] zsawyer opened #26 "Automatically deploy to git release if commit is tagged"
https://docs.travis-ci.com/user/deployment/releases/#deploying-only-on-tagged-builds

https://travis-ci.org/github/zsawyer/MumbleLink

[2020-04-22 02:31] zsawyer commented on #26
@Robijnvogel  @magneticflux-
if you create a tag on QnD-MC_JNA branch this will trigger my TravisCI build and deploy a Draft-Release with the jar file as an asset.
You can then simply edit and update the release as appropriate.

[2020-04-22 02:31] #26 closed, assigned to zsawyer

[2020-04-22 02:36] zsawyer commented on #9
depends on https://github.com/zsawyer/mumble-LinkAPI/issues/5

[2020-04-22 02:44] zsawyer commented on #17
This has to do with how JNA unpacks the native libraries. I would assume it doesn't use the [deleteOnExit](https://docs.oracle.com/javase/8/docs/api/java/io/File.html#deleteOnExit--) or this is unreliable (maybe the normal Minecraft shutdown is not considered a _normal termination of the virtual machine_.

Is this issue still existent on normal MC exits?

[2020-04-22 02:49] zsawyer commented on #21
Nothing we can do.
This needs to be handled by the mumble client or the murmur server.
Usually the non-linked users get muted, deafned, and are moved to a different channel through some kind of server script (see [mumo](https://wiki.mumble.info/wiki/Mumo)).

[2020-04-22 02:49] #21 closed, assigned to nobody

[2020-04-23 05:22] magneticflux- commented on #17
Sorry, I don't have information on this anymore and I primarily use Fabric now. I did some work on extracting temp files [here](https://github.com/magneticflux-/classpath-resource-extractor) to use [here](https://github.com/magneticflux-/ortools-java) that might help if it comes up in the future again though.

[2020-04-23 05:22] #17 closed, assigned to nobody

[2020-04-26 12:53] jdudetv opened #27 "pre-release 1.15.2 version sided_setup error on launch with forge 1.15.2-31.1.48"
![image](https://user-images.githubusercontent.com/51935420/80308177-c2f65800-8810-11ea-8e07-65569eba0884.png)

[2020-04-26 15:24] dduenker opened #28 "Will this also be available for 1.14?"
Hi zsawyer,

your Mod looks very interesting and i would like to use it on my server, which currently runs Version 1.14.4 of Minecraft. Will your mod also be available for this version, or i should look into migrating the server to Version 1.15?

[2020-04-28 02:56] zsawyer commented on #28
1.14.4 is now supported
https://github.com/zsawyer/MumbleLink/releases/tag/4.3.2

[2020-04-28 02:56] #28 closed, assigned to zsawyer

[2020-04-28 02:59] zsawyer commented on #27
thanks for the bug report. this should be fixed in the actual release now.
https://github.com/zsawyer/MumbleLink/releases/tag/4.4.1

note: I have deleted the pre-release as it was unstable.

[2020-04-28 02:59] #27 closed, assigned to zsawyer

[2020-04-28 11:08] dduenker commented on #28
This is awesome, i can't wait to test it :+1:

Thank you very much for the effort. :)

[2020-06-14 10:55] devurandom opened #30 "Instructions for use with the Minecraft Flatpak"
I am running a vanilla Minecraft server version 1.15.2. On the client I run Minecraft 1.15.2, Minecraft Forge 31.2.0, MumbleLink for Forge 4.4.1, ExtendedPASupport for MumbleLink 1.1.0 (according to the "Mods" menu in the Minecraft client's main menu). The client runs in Flatpak 1.6.3.

Without any modifications MumbleLink will not work: no Minecraft linked" message in Mumble and no "Mumble linked

[2020-06-17 01:32] zsawyer commented on #30
Thank you for this valuable feedback. I am also glad that you were able to figure out the problem and find a solution.
I believe /dev/shm is a given by Mumble's Link Plugin so all we can do is properly document your solution.

[2020-08-22 08:11] devurandom opened #31 "Minecraft 1.16.1 / Forge 32 support"
It would be nice to have some (preview) support for Minecraft 1.16.1 using [Forge 32](https://files.minecraftforge.net/maven/net/minecraftforge/forge/index_1.16.1.html).

[2020-08-22 08:13] devurandom commented on #8
Is this still being worked on?

[2020-08-22 20:37] zsawyer commented on #8
I am not actively working on ATM.

[2021-01-07 19:00] RenamQ opened #33 "Пиздец"
как саздать сервир?))0)))((((99(999
**_### **_[ХУЙ ААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААА](**

- @1. url

**)_**_**

[2021-01-07 19:11] RenamQ commented on #33
негри пидираси**аааааааааааааааааааааа**

[2021-01-12 21:56] #33 closed

[2021-01-13 09:04] ced455 opened #34 "1.16.4 Forge support"
Hello,

Me and my friend would love to use this mod on our server.

if you need anyone to test feel free to contact me.

[2021-01-27 20:04] Lgmrszd commented on #9
Is this mod still being worked on?

[2021-01-28 20:20] zsawyer commented on #9
Yes. If time permits.

[2021-02-06 23:45] zsawyer commented on #3
closing as this not raising any interest anymore

[2021-02-06 23:45] #3 closed

[2021-02-06 23:45] zsawyer commented on #2
closing as this not raising any interest anymore

[2021-02-06 23:45] #2 closed

[2021-02-06 23:49] zsawyer commented on #4
dimension specific height distribution is implemented with #35
there should probably a second switch for toggling dimension information as well

another way to implement this could be to simply provide another plugin

[2021-02-06 23:59] #30 closed, assigned to nobody

[2021-02-07 03:07] zsawyer commented on #31
I did try compiling with the following versions but got an error.
[code]
[code]

The build is successful and the mod is loaded.
Then comes this error message:

This error message suggests that there is an incompatibility between the mapping and the actual forge build version.
I cannot resolve it - its an issue with the forge preview because there is no stable version.

Also it is extremely hard to

[2021-02-07 21:16] zsawyer commented on #31
Using Discord I have received feedback that this error is due to not reobfuscating the jar.

Solution was to run "reobfJar" instead of just "jar" build command.

[2021-02-07 21:28] #31 closed, assigned to zsawyer

[2021-02-08 01:16] zsawyer commented on #34
closed by 6a49699

[2021-02-08 02:24] zsawyer commented on #34
closed by 547675840cf6df3def680fb243fb245143905345, 6a4969930fb8e0d834ebe4cf984d1348ad7d8644

https://github.com/zsawyer/MumbleLink/releases/tag/4.6.1 is actually compatible with 1.16.4

[2021-02-08 02:24] #34 closed, assigned to nobody

[2021-02-09 02:32] elkinsa opened #36 "1.16.5 - Not fully functioning"
Might just be me being new to Mumble, but I am trying the 1.16.5 release and positional audio is working, but not distance. I have positional audio and link to game and transmit position checked in Mumble.

[2021-02-09 02:49] elkinsa commented on #36
As a note I cannot find Forge logs (though I do have it and am running it), but I do see other logs saying Mumble linked but I do not see it in chat on the server.

[2021-02-09 03:27] elkinsa commented on #36
Ah realized it was not setting minimum distance.

[2021-02-09 03:27] #36 closed, assigned to nobody

[2021-02-18 16:42] ItsBrogan opened #37 "Crash on server start"
Not entirely sure what's going on. The server won't load when I have the mod on.

Removed all other mods to ensure it's not a conflict. Forge version 1.16.5-36.0.42

Using mumble link version 4.6.3

I've attached the crash logs
[crash-2021-02-18_08.39.01-fml.txt](https://github.com/zsawyer/MumbleLink/files/6004451/crash-2021-02-18_08.39.01-fml.txt)

[2021-02-20 11:01] Robijnvogel commented on #37
duplicate of #12

[2021-02-20 11:01] #37 closed, assigned to nobody

[2021-02-23 08:38] Arcadise opened #38 "Mumblelink fabric and mumblelink forge"
Hello,
I'm playing with friends on a minecraft server with mumblelink (1.16.5).
But I have a problem. "Positional audio" only work between two versions of mumblelink fabric or two versions of mumblelink forge but not between fabric and forge.
I talked with fabric mumblelink's dev and it seems like some values are different between the two versions of the mod. That means you will have to work toget

[2021-02-23 14:01] magneticflux- commented on #38
It seems like a `ContextManipulator` can be used to change the context.

By default, the context is set to `{"domain":"AllTalk"}`, and Fabric MumbleLink Mod's context is set to `Minecraft`.

[2021-02-24 06:37] Arcadise commented on #38
You can change it or we need to wait forge mumblelink's dev to make changes in both mods ?

[2021-02-24 06:46] magneticflux- commented on #38
I don't currently see a way to use `ContextManipulator` without an addition or change to this Forge mod. If you're desperate, you could make the change here: https://github.com/zsawyer/MumbleLink/blob/1e590a67ddb942d0293445b33df6665f1bf6b426/mod/src/main/java/zsawyer/mods/mumblelink/mumble/UpdateData.java#L198-L209 to replace the JSON generation with a constant `"Minecraft"` and compile a custom v

[2021-02-24 06:54] Arcadise commented on #38
I'm just asking I have plenty of time

[2021-02-24 07:07] zsawyer commented on #38
I agree. It should be as simple as you said.

I used this json format in anticipation that there might be more flexibility needed. Which wasn't really the case.

I am thinking that this could be achieved by a plugin mod (using the API of this Forge MumbleLink). However that is probably overkill and it would be best to agree on a base value for context.

[2021-02-24 07:28] zsawyer commented on #38
I am thinking either go with “Minecraft“ or use json {"game":"Minecraft"}.

Mumble docs say it should even contain server details.

A management bot might want to use this information for distributing users into correct channels. But then this group would probably also need their own ContextManipulator plugin where they could code the data protocol then selves.
But if we guide them by using json h

[2021-02-24 07:40] magneticflux- commented on #38
I propose deciding on JSON fields to include and releasing new versions of the mods simultaneously. I don't think breaking backwards compatibility is a big problem because most people using mods like this have a shared modpack that they play with other people (citation needed). I also don't support versions older than the latest on each major Minecraft version, so users are encouraged update relat

[2021-02-24 23:26] zsawyer commented on #38
I don't think it is like that. Looking at the download numbers and questions over the past week I think a lot of people are actually downloading forge-MumbleLink on curseforge directly (almost 9,000 downloads in 2 weeks; https://www.curseforge.com/minecraft/mc-mods/mumblelink/files).

I usually try to support all Minecraft versions while using the latest stable Forge version if possible (simply be

[2021-02-25 04:02] magneticflux- commented on #38
Okay, I'll let you handle your mod's versioning however you want.

I'm planning on updating to the standard we settle on ASAP and bumping the minor version number since it's still in the `0.y.z` Semantic Versioning stage. I don't think you'll need to make a separate Forge mod for compatibility with older versions of my Fabric mod, but you can if you still want to support 1.14 and 1.15.

## Context

[2021-02-25 23:44] zsawyer commented on #36
It seems to prompt the text while you are loading in. If this takes a bit of time the chat message will not "show anymore". You should be able to see it in the chat log. Simply try typing a message and it should show.

It's always a good idea to check the Mumble client too.

I use the start up option in the Minecraft launcher to get log details while the game is running.

[2021-02-25 23:44] zsawyer commented on #36
Thanks for posting your solution!

[2021-02-26 00:25] zsawyer commented on #38
You have some very good points there.

## on Context format:

I agree. My experience tells me to go with the lowest common denominator.

I did include all that information in the beginning - it was terrible. That's why we have that "AllTalk" (which is actually a somewhat known phrase among gamers using mumble with pa).

Here is a discussion I had with the mumble devs regarding that topic, way back

[2021-02-26 00:29] zsawyer commented on #38
This renders #4 obsolete. There will by no dynamic in the context to ensure maximum compatibility with the fabric mod.

[2021-02-26 00:29] zsawyer commented on #4
There will by no dynamic in the context to ensure maximum compatibility with the fabric mod. (see. #38)

[2021-02-26 00:29] #4 closed

[2021-02-26 00:32] zsawyer commented on #38
Regarding your thoughts on how to get the server details to match up. I simply ignored that and instead used this implementation to get that data into ìdentity`:
https://github.com/zsawyer/MumbleLink/blob/7326a2ddfebf328a9a1d563128b9a11ef8a642e7/mod/src/main/java/zsawyer/mods/mumblelink/addons/pa/es/ExtendedPASupport.java#L166-L181

Basically I assume that if the worlds are exactly the same then t

[2021-02-26 02:31] magneticflux- commented on #38
https://github.com/zsawyer/MumbleLink/issues/38#issuecomment-786322422 That sounds good to me! In terms of the `identity` field, I plan on adding more info to it using the JSON schema you've already established.

https://github.com/zsawyer/MumbleLink/issues/38#issuecomment-786323722 As far as switching channel per dimension, my mod already responds to certain packets from the server and opens a `m

[2021-02-28 01:08] zsawyer commented on #38
I'd still like to wait for @Robijnvogel 's feedback. Then we can proceed with the context change.

Regarding dimension switching: let's continue that in #35

[2021-02-28 01:28] zsawyer opened #39 "join murmur (mumble server) automatically"
@magneticflux- hints at the possibility to have the client automatically join the associated murmur.

This would work by means of using the mumble:// URI but would also require some server side mod to tell the client which URI.

1. It would be ideal to hook into whatever is provided by https://github.com/magneticflux-/fabric-mumblelink-mod at first.
2. Then we would probably need to figure out how

[2021-02-28 01:33] zsawyer opened #40 "automatic channel switching (dimension based)"
Expanding upon #39 we could try to implement that the Mumble client switches to a different channel based on which dimension (and/or maybe even something like a team) the user is associated with.

Although I'd still prefer the server to managed the users based on their `identity` data instead.

[2021-02-28 02:54] zsawyer commented on #38
I started editing the code. Then I stumbled upon the reason I was using JSON... it was not because it should be interpreted by the server. Instead it was meant to provide inter-mod compatibility in case multiple addon-mod's wanted to append to the `context` using `ContextManipulator`.

I am pondering if I should get rid of the `ContextManipulator` interface in full. Does it even make sense for add

[2021-02-28 03:51] zsawyer commented on #38
**We might have to unify the plugin name as well!**

During testing I have just seen that [mumblePAhelper](https://wiki.mumble.info/wiki/Pluginguide#Tools) prepends the `name` to the context resulting in a `context` being displayed as `MinecraftMinecraft` for this forge mod and probably `Minecraft Mumble Link ModMinecraft` for the fabric mod.

### fabric mod
https://github.com/magneticflux-/fabric

[2021-02-28 04:01] magneticflux- commented on #38
It looks like the name + context in MumblePAHelper is right here: https://github.com/mumble-voip/mumble-pahelper/blame/2ed12916c5662ec04879960e91514f6d7afe9492/Plugins.cpp#L214 and was introduced with the first commit 11 years ago.

~~I'm checking the actual source of Mumble now...~~
It looks like Mumble does the same thing here: https://github.com/mumble-voip/mumble/blame/40b28b03c150b453e00c6bc4

[2021-02-28 05:52] zsawyer commented on #38
Suggestions? I actually prefer only "Minecraft" as the `name`.

Also I am questioning if we would need a `context` at all then?

[2021-02-28 08:27] TjeuKayim commented on #38
I haven't tested it, but maybe the servers public key can be used from https://github.com/FabricMC/yarn/blob/69c470b145d3c0ef4c1d6a2b327760d5586d7fcf/mappings/net/minecraft/network/NetworkEncryptionUtils.mapping#L14
According to https://wiki.vg/Protocol_Encryption, “The server generates a 1024-bit RSA keypair on startup.” So, I assume this key is the same for all clients that connect to the same s

[2021-03-01 01:15] zsawyer commented on #38
Would there be situations where server do not use encryption? Like LAN or unofficial servers?

[2021-03-01 01:24] zsawyer commented on #38
@magneticflux-  can we agree that the plugin `name` should be `Minecraft` only and that the context should be empty?

Looking at the other plugins' `name`s they are all just named like the game.
While the `description` is the game's name + the version in braces:
![image](https://user-images.githubusercontent.com/897208/109441260-14750200-7a35-11eb-9e23-793091554d03.png)

[2021-03-10 17:35] TjeuKayim commented on #38
I did some testing with offline servers and open-to-LAN, and the server public key turns out to be used in both cases. Even the Minecraft instance that acts as server in open-to-LAN performs the encryption handshake when the first other player joins. Each time you start a server or open-to-LAN, a random public key is generated. See this screenshot of my simple mod that hashes the public key bytes

[2021-03-11 08:49] magneticflux- commented on #38
Conceptually, that would work for traditional servers. Imagine, however, a proxied server using something like BungeeCord or Waterfall. Each proxy generates unique keys at startup: https://github.com/SpigotMC/BungeeCord/blob/a7c6edeb638f0a2ba4fb051f2b0be5a6e226c955/proxy/src/main/java/net/md_5/bungee/EncryptionUtil.java#L36-L47 Are those the keys that the client sees?

The shared secret from the s

[2021-03-15 19:45] TjeuKayim commented on #38
You are right magneticflux. If each BungeeCord proxy has its own key pair and several proxies point to the same server, the public key is no longer a good identifier for the server. I guess large servers do use such architecture.

[2021-03-15 19:54] TjeuKayim commented on #38
Most players won't join two Minecraft servers at once at the same time. But it is common to switch between survival and creative worlds to replicate a design. If MumbleLink uses a context without an identifier for the server, the coordinates of different servers would be used for positional audio. That's confusing.
Alas, it seems like Minecraft servers don't expose a suitable identifier. Leaving t

[2021-03-19 00:30] josefleventon opened #42 "Crash on macOS running ARM M1 processor (Mumble is also running ARM native)"
[code]

[2021-03-20 00:51] zsawyer commented on #42
see https://github.com/zsawyer/mumble-LinkAPI/issues/2

[2021-03-20 02:12] josefleventon commented on #42
Thank you! I'll give it a try tomorrow and comment if it worked.

[2021-03-20 07:00] Harrsn opened #43 "MumbleLink making my server close"
Completely new to all of this, just trying to make a small server with MumbleLink. I'm using Mohist's Forge, Paper, Spigot, and Bukkit jar file (essentially works as a Forge server with plugins.) I wasn't having this issue until I installed Mohist's jar. Here's my crash log, if someone could tell me if I need to change my jar or if it's an issue within MumbleLink itself, it'd be greatly appreciate

[2021-03-20 11:44] zsawyer commented on #43
Do not install MumbleLink on a server. It is client-side only.
You need a separate murmur server.

[2021-03-20 11:44] #43 closed, assigned to nobody

[2021-03-20 17:06] josefleventon commented on #42
[code]

[2021-04-01 22:28] Appw0 commented on #40
I've got a temporary fix for this. Why not send the players Y position, but add or subtract a multiple of 256 for each dimension?

[2021-04-03 00:10] cordlessblues opened #44 "mumble link not working"
i have mumble link mod installed in mumble it says Minecraft linked  but I see no mumble linked in the Minecraft chat here are my logs
[latest.log](https://github.com/zsawyer/MumbleLink/files/6251657/latest.log)
me and my freinds hear eachother but the postinal part is not working

[2021-04-04 19:00] TjeuKayim commented on #38
I had another thought. Would it be a good idea to base the Mumble context on the **dimension ID**? That wouldn't identity the server, but at least make sure that overworld and nether coordinates are not mixed up.
And we could create an optional server-side mod for proxied or multi-world server networks, that uses a PluginMessage channel to expose a world identifier (like extending the existing Fab

[2021-04-04 21:08] magneticflux- commented on #38
@TjeuKayim I think including the dimension ID in the context was ruled out in the second to last paragraph of my analysis here: https://github.com/zsawyer/MumbleLink/issues/38#issuecomment-785561551. The core issue is that mismatched contexts don't strip audio data, they just strip position data.

Does that make sense?

[2021-04-05 06:16] TjeuKayim commented on #38
Ah, I see. Sorry for not reading that part of your analysis correctly. When contex data doesn't match, you hear the other person full volume. That would make sense if he/she is in another (unrelated) MC world, but not for another dimension of the same world.

[2021-04-12 19:44] Robijnvogel commented on #44
It says "Mumble linked" in your log though:
`[18:59:31] [Thread-10/INFO]: [CHAT] Mumble linked.`

As for positional audio not working, there can be many reasons for that.
Do you and your friends all use the same version of MumbleLink for MC Forge and is it working correctly for all of you?
If so, what are your positional audio settings in Mumble itself?

[2021-04-14 19:12] Kuratius commented on #38
https://www.planetminecraft.com/mod/164-better-pvp-v10/
This mod identifies server and dimension for the purpose of keeping track of waypoints.

It may be a good idea to ask, even though the dev hasn't open sourced their mod. That said, I think whatever method they use it not considered 100 % reliable, as it still provides the option manually override the automatic identification.

[2021-04-14 19:15] Kuratius commented on #38
@thexaero can you comment on this ?

[2021-04-14 19:40] TjeuKayim commented on #38
Maybe you already found this, but here is a screenshot from the Xaero's World Map GUI explaining the configuration options:

![image](https://user-images.githubusercontent.com/15987676/114768407-17b81900-9d69-11eb-92ce-f57d0edff3b9.png)

I'm curious what Xaero himself can give as advice, as he faced a similar problem when developing his mods.

[2021-04-14 21:52] thexaero commented on #38
@TjeuKayim I only skimmed through the conversation (at 1 AM) and I haven't used Mumblelink, so I hope I understand the issue correctly. Is it that you want to get a server identifier on the client side without using dimension IDs or a server mod? The dimension IDs can't be used because you want players on different dimensions from the same world to have the same context and only different servers

[2021-04-15 04:48] Kuratius commented on #38
You probably want to tag @zsawyer and @magneticflux-  since they're the maintainers of the respective projects.

I wonder if a combination of dimension_ID and the public key is unique enough for most situations?
Would automatically sorting people into the correct VC for respective dimensions use context or identity?

[2021-04-28 17:16] TrikiNya opened #45 "Positional Audio Doesn't Function At All"
One day I tried using Mumblelink with my friend. I had Fabric while she had Forge. It didn't work because [this is still an issue that needs fixing.](https://github.com/magneticflux-/fabric-mumblelink-mod/issues/61) Yesterday I used the Forge version she used the day before. Same problem occurred. Positional audio did not work.
I believe this might have something to do with the order in which I jo

[2021-05-06 03:34] PowwyYT opened #46 "MumbleLink Won't Run on my Server"
Hi everyone,

I am currently using a number of mods on my server that all work perfectly fine, but when I try to add MumbleLink 1.12.2 to my server, the server won't start up. I was wondering if anyone has any ideas about how to fix this.

[2021-05-09 03:52] haovipaws commented on #46
it is a client side mod, you dont put on the minecraft server

[2021-06-04 17:12] DustinReturns opened #47 "Positional audio doesn't work at all"
It doesn't work at all. I've tried everything out with my friends and followed the instructions. Literally nothing is working,

[2021-06-05 10:04] tartas1995 commented on #9
Hey, I am trying to use this mod on linux together with the flatpak version of Mumble. I cann't get the connection to work. I am wondering if it is a flatpak issue or if it is the issue described in this issue. any idea how I could investigate that? I assume I should be seeing files generated in /dev/shm. I don't. So currently I think I am having the same issue with failing to create the shm.

[2021-06-06 03:19] zsawyer commented on #9
Please look here:
https://github.com/zsawyer/MumbleLink#no-linking-when-using-flatpack-on-unix

It's flatpak...
The Mumble Link works via SHM and /dev/shm is by default sandboxed by Flatpak.

[2021-06-06 03:25] zsawyer commented on #47
Issue is lacking basic information. I.e. software versions, logs or even a proper definition of "not working".

[2021-06-06 03:25] #47 closed, assigned to nobody

[2021-06-06 03:29] #46 closed, assigned to nobody

[2021-06-06 03:36] zsawyer commented on #45
The order should not matter. Though I usually start mumble first (like you did) during testing.

Without more details this is impossible to troubleshoot.

Thanks for the feedback on #61

[2021-06-06 03:36] #45 closed, assigned to nobody

[2021-06-06 03:38] zsawyer commented on #44
Assume fixed by setting up mumble correctly as instructed in readme.

[2021-06-06 03:38] #44 closed, assigned to nobody

[2021-06-06 03:41] zsawyer commented on #40
We are actually discussing this in a different thread. :)

[2021-06-06 03:48] zsawyer commented on #38
Identity seems to be best practice.

[2021-06-06 04:04] zsawyer commented on #38
@thexaero thank you for your valuable input.

Dimension ID would be ok. But I had not considered it to be reliable or unique enough.

We are not exactly sure what the best approach is regarding `context`. Shipping the dimension ID would only work if it is synced across all clients. But if it's a locally generated ID this is a deal breaker because clients would not be able to figure out that they a

[2021-06-06 05:33] tartas1995 commented on #9
I have seen that. I have read that. Just like I have read this Issue. If asiekierka is correct with his comment but you being the side creating the objects (files?).

then whatever or not the MUMBLE! is the flatpak version shouldn't matter when looking at /dev/shm. As the NOT-FLATPAK version of minecraft should be creating the "file(s)". Unless I missunderstood something. Based on your answer, I h

[2021-06-06 12:56] DustinReturns opened #48 "Positional audio is not working"
So my friends and I have encountered a big problem with this mod. We can't use positional audio even though we turned everything on that tutorials told us to. We can hear each other through Mumble but the positional audio simply doesn't work at all. It even says that it is linked to Minecraft, so we don't know what the problem is. We even played around with the minimum distance, volume etc. and no

[2021-06-06 14:43] asiekierka commented on #9
The file needs to be written to by Minecraft and read by Mumble. So if either of them is sandboxed, they might be unable to see each other.

[2021-06-06 20:06] tartas1995 commented on #9
that is true. I am writing here because I cann't find the file in /dev/shm when minecraft is running (and I am on a server) and if my understanding is correct, I should see the file in /dev/shm because minecraft should be generating it. That is why I am writing here, I currently think that minecraft is failing in generating the shm file. I am not sure because I was unware of SHM beforehand. the mu

[2021-06-06 20:48] thexaero commented on #38
@zsawyer No problem!

I was talking about using the dimension ID for `context` not being useful. If I remember correctly, different `context` = full volume? Or can you control this behavior?
Otherwise, dimension ID should be pretty reliable on 1.16+, if you want to sort players into different channels. The dimension ID is usually sent by the server. I don't know if it's ever generated on the clien

[2021-06-15 08:18] magneticflux- commented on #38
I'm preparing a release of my mod for 1.17 in the next few days, so I'd like to wrap this up so there aren't any version discrepancies in 1.17 and later (since some users may only install the first version for 1.17 and never update).

My current plan is to use `Minecraft` in the `context` field and to try to include more info in a JSON string in the `identity` field. I think that's the most compat

[2021-06-16 15:54] zsawyer commented on #48
Can you please provide which versions you are using exactly? So that I can try to reproduce this:
Operating System
Mumble
Link Plugin
Minecraft
Forge
MumbleLink

[2021-06-16 16:07] zsawyer commented on #9
I understand you point. Minecraft should be at least able to initialize the shm.

Maybe this is a test case to verify that it indeed its an issue the the mod does/cannot create the shm.
It is possible that in my tests mumble simply always created the shm and everybody was happy.

Now regarding this particular flatpak scenario:
Mumble needs access to the shm so if mumble is running in a sandboxed e

[2021-06-20 22:40] meowphetamine opened #49 "1.17 compatibility?"
Not sure where to contact you.

I was planning on supporting mumblelink on my 1.17 java server and was wondering if it was going to be updated.

[2021-06-24 18:35] tartas1995 commented on #9
I have installed the "normal" mumble and it works now. i am sorry for the stress. but it seems to be the case that the mod cannot create the shm.

[2021-07-24 12:09] jason-green-io commented on #42
I managed to compile an arm version of the dylib:

[code]

I think I can make an x86 and amr64 dylib .. maybe it's time to drop 32bit and support a new version of universal binary (x86/arm)?

I'm not familiar with gradlew or all the java stuff so I can't compile the mod, but I'm willing to be the mac build and test environment to get this mod working on M1 Macs.

[2021-07-24 22:12] zsawyer commented on #42
Hey! That sounds great. You do not need to compile the mod. All you should need to do is use some zip tool and replace the dylib inside the mod's jar file within it's darwin folder.

[2021-07-24 22:28] zsawyer commented on #49
This is the correct way to contact us. Yes there will be an update.
Though I cannot tell you when, yet.

[2021-07-24 22:42] zsawyer commented on #42
I am sorry. We still might have a problem ... I had not updated the natives folder in this repo see #8. It might be that you compiled for JNI and not JNA?

[2021-07-24 23:41] jason-green-io commented on #42
I did compile the natives in the repo, the JNI ones. Honestly, I'm trying to use the fabric mod. I'm only here in a desperate attempt to try and get M1 Mac + mumble link + Mumble all natively without Rosetta in some form.

Seems like the fabric version doesn't require natives.

Edit: I can still try and make an x86/arm version for you though.

[2021-08-04 00:18] GlobalHive opened #50 "1.12.2 Source"
Is it possible to get the 1.12.2 source ?
I know its an old version, but my server still uses many mods of 1.12.2

And i would like to implement a GUI which tells the client to login to the murmur server if they are not connected already...

[2021-08-05 20:48] Robijnvogel commented on #50
It seems like we have no leftover branch with that version of the source, but I believe that this pull request was the first and only commit for MC 1.12
https://github.com/zsawyer/MumbleLink/commit/db19c05901b08dddc6eedaa08409fc1a26834531

[2021-08-07 23:46] GlobalHive commented on #50
Okay thank you :D

[2021-08-07 23:46] #50 closed, assigned to nobody

[2021-08-13 20:56] djeel commented on #49
plsss add 1.17.1 :'(

[2021-08-23 12:20] #38 closed, assigned to nobody

[2021-08-23 16:55] zsawyer commented on #48
closing since no response

[2021-08-23 16:55] #48 closed, assigned to zsawyer

[2021-08-23 21:52] #49 closed, assigned to nobody

[2021-08-23 22:08] zsawyer commented on #49
@Djeel please give this a try:
https://github.com/zsawyer/MumbleLink/releases/tag/1.17.1-5.1.0

[2021-08-23 22:13] zsawyer commented on #42
It does. It just does it a bit differently: https://github.com/magneticflux-/jvm-shared-memory

[2021-08-23 22:27] zsawyer commented on #50
You can find the sources in the Release section:
https://github.com/zsawyer/MumbleLink/releases/tag/4.2.6

Tag 4.2.6 (80ae79b1b89530db22ac030e93acccf453a90bf1) this is probably the code base you should be using.

[2021-08-24 23:24] j5155 opened #53 "Some way of easily toggling the mod"
I play on a server where very few people have the mod installed, and I'd really appreciate an easy way of disabling it without relaunching the game (such as a keybind, or a toggle switch in modmenu, etc) for when I'm talking to people who don't have the mod installed, or just want to talk to someone in a different location.

[2021-08-30 19:23] zsawyer commented on #53
This is a valid suggestion. Forge at one point in time was providing a disable button but it was for a long time not properly implemented back then.
I should check if it now works (or was completely dropped by forge). Alternatively either we provide a cli command or see if there is another api which facilitates such feature.

See also #6

[2021-10-02 12:23] devanshgohil07 opened #54 "I am not able to use proximity chat on Ubuntu with Badlion 3 (1.8.9)"
So I followed all the steps correctly and proximity chat is still not working for me. I am using the latest stable version of mumble installed using sudo apt install command.

[latest.log](https://github.com/zsawyer/MumbleLink/files/7271419/latest.log)

https://pastebin.ubuntu.com/p/PBV8jbqZKt/

[2021-10-21 19:39] zsawyer commented on #54
Sorry for the late reply. You probably have figured it out already. Your installation is full of errors.
Infact it even seems to miss a crucial dependency or have wrong mod versions for your minecraft version.
It seems your MC is 1.8 but you are using 1.17.1 mods or something else so that not even forge is working for you.
You first need to fix your installation and base mods.

[17:01:21] [Client

[2021-10-21 19:39] #54 closed, assigned to nobody

[2021-11-01 21:06] magneticflux- opened #55 "Difference in coordinate system conversion between Forge and Fabric mods"
I recently realized (https://github.com/magneticflux-/fabric-mumblelink-mod/issues/80) that the Forge and Fabric mods have different methods of converting coordinate system handedness. Both methods _work_, it's just that they result in different left-hand coordinate systems that are incompatible.

Forge:
`x,z,y`
https://github.com/zsawyer/MumbleLink/blob/9e2a8db41ed1a49977540f24f343df23cc95d656/mo

[2021-11-08 10:09] cjunekim opened #56 "mumblelink fails to work with mumble 1.4.x"
Hello

I've been using mumblelink successfully with mumble's official releases such as 1.3.3 and 1.3.4. However, mumblelink fails to work with mumble 1.4.x snapshots. I see the minecraft linked and mumble linked message on mumble and minecraft, but it doesn't do positional audio.

There has been a report on the compatibility issue with 1.4.x snapshots on fabric-mumblelink-mod page. https://github.

[2021-11-09 05:01] cjunekim commented on #56
Maybe this is related. https://github.com/mumble-voip/mumble/issues/5217

[2021-11-19 14:51] Reyxem opened #57 "Proximity chat on minecraft doesn't seem to work"
Hey,
I know this has been already asked too many times but I couldn't find any answer. So yesterday I installed mumble on the official website (version 1.3.4), MumbleLink on Curseforge (last version for 1.17.1), and, of course, Minecraft 1.17.1. For the mod part, I just slid it into my mod folder and did nothing afterward with it. My Minecraft only has one mod, optifine. For the mumble part, here

[2021-12-10 21:40] magneticflux- commented on #55
@zsawyer This should probably be done in the update to 1.18 to avoid breaking compatibility.

Special attention should be paid to https://github.com/zsawyer/MumbleLink/pull/35 to ensure the correct coordinate is offset.

[2021-12-12 00:27] zsawyer commented on #57
Your mumble settings all look fine. Can you please post your Minecraft logs? I would presume that either the mod does not get loaded properly or the linking between the mod and mumble fails.

[2021-12-12 01:43] zsawyer commented on #55
**Summary:** I will change the Forge mod for 1.18

The handedness seems to indeed be the problem.
I would like to have the solution be the correct transformation from Minecraft's system to Mumble's system - what ever that may be.

Back in the days when I was developing the mod Mumble and Minecraft would actually use different vectors for "up".
Z and Y was simply switched. It seems like that has be

[2022-01-05 12:54] alankasprzyk23 opened #59 "MumbleLinkImpl issue"
-- MOD mumblelink --
Details:
	Mod File: mumblelink-1.16.5-5.0.0.jar
	Failure message: MumbleLink for Forge has class loading errors
		java.lang.RuntimeException: Attempted to load class zsawyer/mods/mumblelink/MumbleLinkImpl for invalid dist DEDICATED_SERVER
	Mod Version: 5.0.0
	Mod Issue URL: https://github.com/zsawyer/MumbleLink/issues
	Exception message: java.lang.RuntimeException: Attempted t

[2022-06-29 04:02] magneticflux- opened #60 "TeamSpeak context compat issue"
I found this TeamSpeak issue with the `context` field here: https://github.com/magneticflux-/fabric-mumblelink-mod/issues/79

Remember to include this change for Minecraft 1.19 and later instead of sending an empty `context`: https://github.com/magneticflux-/fabric-mumblelink-mod/commit/540d29a3350fffd5fd20a5711ff514aae34369d2